*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #191210;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    height: 300px;
    width:900px;
    background: #191210;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width:300px;
    border-radius:50%;
    background:#EBA03C;
    z-index: 10;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width:200px;
    border-radius:50%;
    background: #191210;
}

.red-center{
    height: 100px;
    width:100px;
    border-radius:50%;
    background: #84261B;
}

.two-circles{
    position: absolute;
    height: 200px;
    width:600px;
    background: #191210;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.circle-left-container, .circle-right-container{
    position: relative;
    height: 100px;
    width:200px;
    background: #191210;
    overflow: hidden;
    z-index: 1;
}
.circle-left-container{
    top:50px;
    transform: rotate(3.142rad);
}

.circle-right-container{
    top:-50px;
}

.small-circle{
    top:0px;
    height: 200px;
    width:200px;
    border-radius: 50%;
    background: #EBA03C;
}

.circle-right-container .smaller-circle{
    position: absolute;
    left:50px;
    top:50px;
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: #191210;
}
.circle-left-container .smaller-circle{
    position: absolute;
    left:50px;
    top:50px;
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: #191210;
}
